article {
    background-color: rgb(17, 16, 24);
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: aliceblue;
}

textarea.namebox {
    width: 350px; 
    background-color: purple; 
    border-width: 5px; 
    border-color: aqua;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: aliceblue;
    height: 20px;
}

a {
    display: block;
  }

select.form-control {
    background-color: purple; 
    border-width: 5px; 
    border-color: aqua;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: aliceblue;
    height: 30px;
    width: 120px;
}

input.form-control {
    background-color: purple; 
    border-width: 5px; 
    border-color: aqua;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: aliceblue;
    height: 30px;
    width: 120px;
}

button.form-control {
    background-color: purple; 
    border-width: 5px; 
    border-color: aqua;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: aliceblue;
    height: 30px;
    width: 120px;
}

button.form-control-xl {
    background-color: purple; 
    border-width: 5px; 
    border-color: aqua;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: aliceblue;
    height: 30px;
    width: 240px;
}