article {
    background-color: rgb(17, 16, 24);
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: aliceblue;
}


div.namebox {
    width: 350px; 
    background-color: purple; 
    border-width: 5px; 
    border-color: aqua;
}