section {
    background-color:  rgb(17, 16, 24);
    margin-right: 50px;
    font-family: "Lucida Console", Monaco, monospace;
}
section p {
    background-color:  rgb(17, 16, 24);
    padding: 25px 50px;
    font-size: 16px;
    color: black;
}

/* Container holding the image and the text */
.container {
    float:left;
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 30%;
    left: 56%;
    transform: translate(-50%, -40%);
    font-size: 24px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    width: 50px;
    height: 45px
}

/* Centered text */
.below {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

/* Centered text */
li.skilllist {
    position: relative;
    top: 30%;
    left: 100%;
    transform: translate(-17%, 50%);
    font-size: 16px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    width: 150px;
    height: 45px;
    margin-top: -15px;
    margin-left: 60px
}

/* Centered text */
p.skilllist {
    position: relative;
    top: 30%;
    left: 100%;
    transform: translate(-35%, 50%);
    font-size: 24px;
    text-decoration: underline;
    color: white;
    background-color: transparent;
    border-color: transparent;
    width: 150px;
    height: 45px;
    margin-top: -45px;
    margin-left: 60px
}